*{
    border: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    place-items: start;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;

    #app{
        margin: 0;
        padding: 0;
        width: 100vw;
        max-width: none;
    }

}
